<div id="<%= dom_id service %>">
  <p>
    <strong>Author:</strong>
    <%= service.author_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= service.name %>
  </p>

  <p>
    <strong>Icon:</strong>
    <%= service.icon %>
  </p>

</div>
