<nav class="service-nav">
  <div>
    <h1>Services</h1>
  </div>
  <div>
    <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
  </div>
</nav>

<% if @services.any? %>
  <% @services.each do |service| %>
    <%= link_to service, class: 'services' do %>
      <%= render service %>
    <% end %>
  <% end %>
<% else %>
  <p>No services to display</p>
<% end %>

<%= button_to "New service", new_service_path, method: :get %>
