<%= stylesheet_link_tag "bill_new" %>

<nav class="service-nav">
  <div class=actions>
    <img src="<%= asset_path('navigate_left.png') %>" alt="Logo" width="16px" >
    <%= link_to "Back", services_path, class: "link-sign" %>
  </div>
  <div>
    <h1>New Bill</h1>
  </div>
</nav>

<%= render "form", bill: @bill %>
