@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Log In */

/* Basic styling for the form container */
.Log-in-form {
  max-width: 400px;
  margin: 80px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Styling for the form header */
.Log-in-form h2 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-bottom: 20px;
}

/* Styling for form fields and labels */
.Log-in-form .field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.Log-in-form label {
  font-weight: bold;
}

.Log-in-form input[type="email"],
.Log-in-form input[type="password"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* Styling for the "Remember Me" checkbox and label */
.Log-in-form .field.checkbox {
  display: flex;
  align-items: center;
}

/* Styling for the submit button */
.Log-in-form .actions {
  text-align: center;
  margin-top: 20px;
}

.Log-in-form input[type="submit"] {
  width: 100%;
  padding: 10px 20px;
  background-color: #3778c2;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

/* Edit User Form */

/* Basic styling for the form container */
.Edit-user-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Styling for the form header */
.Edit-user-form h2 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-bottom: 20px;
}

/* Styling for form fields and labels */
.Edit-user-form .field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.Edit-user-form label {
  font-weight: bold;
}

.Edit-user-form input[type="text"],
.Edit-user-form input[type="email"],
.Edit-user-form input[type="password"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* Styling for the submit button */
.Edit-user-form .actions {
  text-align: center;
  margin-top: 20px;
}

.Edit-user-form input[type="submit"] {
  width: 100%;
  padding: 10px 20px;
  background-color: #3778c2;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

/* Sign-Up */

/* Basic styling for the form container */
.Sing-up-form {
  max-width: 400px;
  margin: 70px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Styling for the form header */
.Sing-up-form h2 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-bottom: 20px;
}

/* Styling for form fields and labels */
.Sing-up-form .field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.Sing-up-form label {
  font-weight: bold;
}

.Sing-up-form input[type="text"],
.Sing-up-form input[type="email"],
.Sing-up-form input[type="password"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* Styling for the submit button */
.Sing-up-form .actions {
  text-align: center;
  margin-top: 20px;
}

.Sing-up-form input[type="submit"] {
  width: 100%;
  padding: 10px 20px;
  background-color: #3778c2;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

/* Password-form */

/* Basic styling for the form container */
.Password-form {
  max-width: 400px;
  margin: 130px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Styling for the form header */
.Password-form h2 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-bottom: 20px;
}

/* Styling for form fields and labels */
.Password-form .field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.Password-form label {
  font-weight: bold;
}

.Password-form input[type="email"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* Styling for the submit button */
.Password-form .actions {
  text-align: center;
  margin-top: 20px;
}

.Password-form input[type="submit"] {
  width: 100%;
  padding: 10px 20px;
  background-color: #3778c2;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

/* Confirmations-form */

/* Basic styling for the form container */
.Confirmatios-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Styling for the form header */
.Confirmatios-form h2 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-bottom: 20px;
}

/* Styling for form fields and labels */
.Confirmatios-form .field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.Confirmatios-form label {
  font-weight: bold;
}

.Confirmatios-form input[type="email"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* Styling for the submit button */
.Confirmatios-form .actions {
  text-align: center;
  margin-top: 20px;
}

.Confirmatios-form input[type="submit"] {
  width: 100%;
  padding: 10px 20px;
  background-color: #3778c2;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

/*  Links */

.Links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link,
.link:visited,
.link:active {
  color: #555;
  text-decoration: none;
}

.link:hover {
  color: #000;
  text-decoration: underline;
}
