.service-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6rem;
  height: 3.5rem;
  padding-left: 5px;
  background: #3778c2;
}

.service-nav h1 {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding-right: 5px;
}

.link-sign {
  text-decoration: none;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: small;
}

/* Add-bill */
.Add-bill {
  max-width: 350px;
  margin: 140px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.Add-bill h2 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-bottom: 20px;
}

.Add-bill .field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.Add-bill input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.Add-bill input[type="number"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

#bill_service_id {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.Add-bill .actions {
  text-align: center;
  margin-top: 20px;
}

.Add-bill input[type="submit"] {
  width: 100%;
  padding: 10px 20px;
  background-color: #3778c2;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
